.fscache
*.db
*.psd
ref/27014_580_360.jpg
ref/319750912_46229c3e12.jpg
ref/6-cauliflower-fungus-mildly-parasitic-so-fungus-can-help-to-indicate-the-health-of-the-tree-upon-which-or-near-which-it-grows.jpg
ref/alien_brain_fungus.jpg
ref/birds_nest_in_flower_pot.jpg
ref/bleeding-tooth-fungus-xxx1358.jpg
ref/bleeding_tooth_fungus_hydnellum_peckii_alan_rockefeller.jpg
ref/Broken-Pot.jpg
ref/broken-pot1.jpg
ref/Churc+tree+fungus-9.jpg
ref/close-up-view-of-athletes-foot-fungus-stocktrek-images.jpg
ref/CzechCoralFungus.jpg
ref/fungus-among-us-diane-e-berry.jpg
ref/Fungus-IMG_3852.JPG
ref/fungus_girls_by_saccstry-d70paf8.jpg
ref/heikki-leis-photography-afterlife.jpg
ref/M4_Fungi_LR.jpg
ref/Red_fungus_20D0047408_by_Cristian_M.jpg
ref/rotten-cheese.png
ref/Screen-shot-2012-04-23-at-10.40.28.png
*.swatches
*.mtl
*.obj
*.mlt
*.obj
art/pot.obj
art/pot.mtl
art/pot.mlt